<ion-header dir="rtl">
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          من نحن
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
    <ion-card text-center shape='round'>
        <ion-card-header> 
            <img class="card-img" src="assets/img/place.jpeg" />
          <ion-card-title dir="rtl">
              نحن مجموعه من أبناء مركز سنهور ، قمنا بإنتاج هذا التطبيق من أجل خدمه أهلنا بالداخل وللتيسير على من يأتى إلى المركز من الخارج ...
              <br />
              <br />
              <br />
              <ion-title id='contact'>
                <b>للتواصل:</b><span> إستاذ/ محمد</span>
                <br />
                <br />
                <ion-button shape='round' fill='outline' color='primary' id='tell-number' (click)="call('01066204610')">
                  <ion-icon name='call' slot='start'></ion-icon>
                  01066204610
                </ion-button>
              </ion-title>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        </ion-card-content>
      </ion-card>
 
</ion-content>

<ion-footer>
  <ion-toolbar color='primary'>
    
    <ion-title dir='ltr' id='rights'>
      designed with <ion-icon name='heart'></ion-icon> by <a href='https://wa.me/201143647417'>the<b>D</b>eveloper</a> and <a href='https://wa.me/201024900988'>Elmo</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
