<ion-header dir="rtl">
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          {{page_title}}
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
    <ion-grid fixed>
      <!-- <ion-row justify-content-around>
        <form #searchForm="ngForm" (ngSubmit)="searchBar(form)">
            <ion-item>
                <ion-label position="floating" color="primary">بحث</ion-label>
                <ion-input dir='rtl' type="text" name='q' class="form-controll" ngModel required>
                </ion-input>
              </ion-item>
        </form>
      </ion-row> -->
      <ion-row justify-content-around>
        <ion-col *ngFor="let i of data" size='6'>
            <ion-card text-center shape='round'>
                <ion-card-header> 
                  <img *ngIf="i.img.length" class="card-img" src="assets/data_icons/{{i.img}}" />
                  <img *ngIf="!i.img.length" class="card-img" src="assets/icon/{{defaultImage()}}" />
                  <ion-card-title>{{i.title}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  <p>
                    {{i.address}}
                  </p>
                  <ion-item *ngIf="i.tells[0]">
                      <ion-button fill="outline" shape='round' color='primary' (click)='call(i.tells[0])'>
                          <ion-icon slot="start" name="call"></ion-icon>
                          {{i.tells[0]}}
                      </ion-button>
                  </ion-item>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
