<ion-app dir="rtl">
  <ion-split-pane>
    <ion-menu side='end' type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>القائمة</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages let last = index">
            <ion-item *ngIf="p.title !== 'Item'" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.name}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list class="share">
          <ion-item>
            <ul>
              <li>
                <ion-button class='fb' fill='outline' size='default' color='primary' href='http://m.facebook.com/sharer.php?u=http://www.google.com'>
                  <ion-icon name='logo-facebook' slot='icon-only'></ion-icon>
                </ion-button>
              </li>
              <li>
                <ion-button class='tw' fill='outline' size='default' color='secondary' href='http://mobile.twitter.com/home?status=dalellsanhor'>
                  <ion-icon name='logo-twitter' slot='icon-only'></ion-icon>
                </ion-button>
              </li>
              <li>
                <ion-button class='wh' fill='outline' size='default' color='success' href='https://wa.me/?text=daleelsanhor'>
                  <ion-icon name='logo-whatsapp' slot='icon-only'></ion-icon>
                </ion-button>
              </li>
            </ul>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
