<ion-header dir="rtl">
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        تحديث
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content dir="rtl">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card text-center>
            <ion-card-header>
              <ion-button fill='outline' expand='block' color='success' (click)="downloadImage()">
                Download
              </ion-button>
              <img *ngIf="src.length" [src]='src' >
              <div class="progress-outer">
			          <div class="progress-inner" [style.width]="progress + '%'">
			          {{progress}}%
			          </div>
			        </div>
              <ion-button fill='solid' expand='block' color='primary' (click)='lookforUpdate()' [disabled]='searching || downloading'>
                البحث عن تحديثات
              </ion-button>
            </ion-card-header>
        </ion-card>
        <ion-card text-center *ngIf="hasUpdate">
          <ion-card-header class='found'>
              تم إكتشاف وجود تحديثات

              <ion-button fill='outline' expand='block' color='tertiary' size='large' (click)='update()' [disabled]='downloading'>
                  <ion-icon name='cloud-download'></ion-icon>
                  {{downText}}
                </ion-button>
          </ion-card-header>
        </ion-card>
        <ion-card text-center *ngIf="showLoader">
          <ion-card-header>
              يرجى الإنتظار
              <ion-progress-bar type="indeterminate" color='primary' reversed='true'></ion-progress-bar>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
