ion-card{
    margin-top: 5vh;
}
ion-card:first-of-type {
    margin-top: 10vh;
}
ion-card-header{
    padding-bottom: 5vh;
}
.found ion-buttonو
ion-progress-bar{
    padding-top: 1.5vh;
}
ion-progress-bar{
    height: 2vh;
}