<ion-header dir="rtl">
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-grid class="home-bg">
    <ion-row justify-content-around class="first-row">
      <ion-col class="ion-activatable rad-t-right"
       (click)="openDetalis('المطاعم', 'resturants')">
        <ion-ripple-effect></ion-ripple-effect>
        <div>
          <img src="assets/icon/food.png" />
          <span>المطاعم</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('سوبر ماركت', 'shops')"> 
        <ion-ripple-effect></ion-ripple-effect>
        <div>
          <img src="assets/icon/shops.png" />
          <span>سوبر ماركت</span>
        </div>
      </ion-col>
      <ion-col class="ion-activatable rad-t-left" (click)="openDetalis('الحلوانى', 'donut')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/donut.png" />
          <span>الحلوانى</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class='ion-activatable' (click)="openDetalis('الصيدليات', 'pharmasy')"> 
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/pharmasy.png" />
          <span>الصيدليات</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('الأدوات المنزلية', 'cleaner')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/cleaner.png" />
          <span>الأدوات المنزلية</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('بيوتى سنتر', 'beauty')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/beauty.jpg" />
          <span>بيوتى سنتر</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class='ion-activatable' (click)="openDetalis('مراكز تعليم', 'school')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/school.png" />
          <span>مراكز تعليم</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('معامل التحاليل', 'experments')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/experments.png" />
          <span>معامل التحاليل</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('الأطباء', 'doctors')"> 
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/doctors.jpg" />
          <span>الأطباء</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class='ion-activatable' (click)="openDetalis('المهندسين', 'eng')">
        <ion-ripple-effect></ion-ripple-effect>
        <div  >
          <img src="assets/icon/eng.jpg" />
          <span>المهندسين</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('المدرسين', 'teachers')">
        <ion-ripple-effect></ion-ripple-effect>
        <div  >
          <img src="assets/icon/teachers.jpg" />
          <span>المدرسين</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('الأدوات المدرسية', 'gadgets')">
        <ion-ripple-effect></ion-ripple-effect>
        <div  >
          <img src="assets/icon/gadgets.png" />
          <span>المكتبات</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class='ion-activatable' (click)="openDetalis('الحدايد والبويات', 'paints')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/paints.jpg" />
          <span>الحدايد والبويات</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('النادى الرياضى', 'gym')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/gym.png" />
          <span>النادى الرياضى</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('التصوير', 'camera')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/camera.jpeg" />
          <span>التصوير</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class='ion-activatable' (click)="openDetalis('المستشفيات', 'hosbital')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/hosbital.png" />
          <span>المستشفيات</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('موبيلات وكمبيوتر', 'mobile')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/mobile.png" />
          <span>موبيلات وكمبيوتر</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('بلاى ستيشن', 'ps')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/ps.png" />
          <span>بلاى ستيشن</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class='ion-activatable' (click)="openDetalis('الملابس', 'clothes')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/clothes.png" />
          <span>الملابس</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('الهدايا والعطور', 'gifts')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/gifts.png" />
          <span>الهدايا والعطور</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('العطارة ومستلزمات المطبخ', 'vegtable')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/vegtable.jpeg" />
          <span>العطارة ومستلزمات المطبخ</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around class="last-row">
      <ion-col (click)="openDetalis('مقله وتسالى', 'penaut')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/penaut.jpeg" />
          <span>مقله وتسالى</span>
        </div>
      </ion-col>
      <ion-col class='ion-activatable' (click)="openDetalis('مراكز السيارات', 'car')">
        <ion-ripple-effect></ion-ripple-effect>
        <div  >
          <img src="assets/icon/car.jpeg" />
          <span>مراكز السيارات</span>
        </div>
      </ion-col>
      <ion-col (click)="openDetalis('المهن الإخرى', 'workers')">
        <div >
          <img src="assets/icon/workers.png" />
          <span>المهن الإخرى</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col (click)="openDetalis('المحامين', 'low')">
            <ion-ripple-effect></ion-ripple-effect>
            <div >
              <img src="assets/icon/low.jpeg" />
              <span>المحامين</span>
            </div>
          </ion-col>
          <ion-col (click)="openDetalis('الادوات الصحية', 'pulp')">
              <ion-ripple-effect></ion-ripple-effect>
              <div >
                <img src="assets/icon/pulp.jpeg" />
                <span>الادوات الصحية</span>
              </div>
          </ion-col>
          <ion-col (click)="openDetalis('سوق سنهور', 'market')">
            <ion-ripple-effect></ion-ripple-effect>
            <div >
              <img src="assets/icon/market.png" />
              <span>سوق سنهور</span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="openDetalis('وظائف', 'jobs')">
        <ion-ripple-effect></ion-ripple-effect>
        <div >
          <img src="assets/icon/jobs.jpg" />
          <span>وظائف</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
