ion-row{
  background: rgba(0, 0, 0, 0.3);
}
ion-row.btnAdd,
.btnAdd ion-col{
  background-color: transparent;
  border: none;
}
ion-col{
  text-align: center;
  // /*padding: 2vh 2vh;*/
  margin: .5vh;
  border: 1px solid #eee;
  border-radius: 0;
  line-height: 4vh;
  cursor: pointer;
  color: #fff;
}

ion-col img{
  margin: 0 auto;
  width: 8vh;
  height: 8vh;
  display: block;
}
ion-row:first-of-type ion-col:first-of-type {
  border-radius: 0 50% 0 0;
}
ion-row:first-of-type ion-col:last-of-type {
  border-radius: 50% 0 0 0;
}
ion-row:nth-last-of-type(2) ion-col:first-of-type{
  border-radius: 0 0 50px 0;
}
ion-row:nth-last-of-type(2) ion-col:last-of-type {
  border-radius: 0 0 0 50%;
}